/* Adicione isso no topo do seu arquivo HomeCustom.css */
:root {
    --white-000: #ffffff;
    --black-000: #000000;
    --red-600: #dc2626; /* Um tom de vermelho, você pode trocar o código hexadecimal */
}


header.theme-dark h1 { color: var(--white-000) }
header.theme-dark h1 span.highlight { color: var(--red-600) }
header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { border-color: var(--red-600) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { background-color: var(--black-000) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { color: var(--red-600) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { color: var(--red-600) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { background-color: var(--black-000) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { border-color: var(--red-600) }

nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--red-600) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--black-000) }
nav.theme-dark ul.links-wrapper li a:link,
nav.theme-dark ul.links-wrapper li a:visited { color: var(--red-600) }
nav.theme-dark ul.links-wrapper li a:focus,
nav.theme-dark ul.links-wrapper li a:hover,
nav.theme-dark ul.links-wrapper li a:active { color: var(--white-000) }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { color: var(--red-600) }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { background-color: var(--black-000) }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { border-color: var(--red-600) }
